body{
    background-color: cadetblue;
    padding: 15px;
    margin: 15px;
    background-image: url(fondo.gif);
    background-repeat: no-repeat;
    background-position: center;
    
}

.imagen-referencia{
    justify-content: center;
    display: grid;
    animation: lagmental 5s infinite;
    width: 350px;
    height: 350px;
}

@keyframes lagmental {
    0%{
        transform: translateY(-50px);
    }
    30%{
        transform: translateY(0) rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: translateY(-50px);
    }
}